
body
  font-family: helvetica, arial, geneva, swiss, sunsans-regular, sans-serif
  margin: 0
  padding: 4rem 0 0
  text-align: center

.years
  background-color: #EEE
  margin: 0 0 0.5rem
  padding: 0.5rem
  position: fixed
  top: 0
  width: 100%

  a
    color: #666
    display: inline-block
    padding: 0.5rem

  fieldset
    border: 0
    color: #999
    display: inline-block
    font-size: 85%

    input
      padding: 0.25rem
      width: 4rem

.drawing-tile
  background-color: #EEE
  display: inline-block
  margin: 0.5rem
  vertical-align: top
  width: 300px

  a
    color: #666
    display: inline-block
    padding: 0.5rem

  h4
    margin: 0.5rem 1rem 1rem

  img
    display: block
    max-width: 100%
